/******************************************************************
Theme Name: Warehouse Yoga - Sass
Theme URI: https://www.warehouse.yoga
Description: Forked from JointsWP Version 5.0 (Development)
Author: Ryan Boulware
Author URI: http://www.ryanboulware.com
Version: 0.5.1
******************************************************************/


.home h1 {
	font-size: 2.257rem;
	font-weight: 400;
}

.home p+h1 {
	margin-top: -30px;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper textarea.medium {
	border: 1px solid #505050;
}





