.reveal.nav-menu {
    .menu {
        display: flex;
        height: 80vh;
        padding: 2rem;
        li {
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            flex-grow: 1;
        }
        a {
            color: $black;
            font-size: 1.25rem;
            width: 100%;
        }
        .active>a, .is-active>a {
            background: none;
            
        }
    }
    .close-button {
        color: $black;
        font-size: 2.75rem;
        right: 2rem;
        top: 0.75rem;
    }
}