footer.footer {
    margin-top: 0;
}

.footer {
    background-color: $soft-black;
    color: $white;
    padding: 2em 0;

    h3 {
        font-size: rem-calc(16px);
        font-weight: 600;
        margin-bottom: 5px;
    }
    p {
        font-size: rem-calc(14px);
        line-height: 1.4;
        margin-bottom: 0.5rem;
    }
    a {
        color: $white;
        text-decoration: underline;
        
        &:hover {
            color: $white-smoke;
        }
    }
    .copyright {
        margin-bottom: 0;

        @include breakpoint(medium down) {
            margin-bottom: 3rem;
        }
    }
    .cell {

        &.logo {
            height: auto;
        }

        @include breakpoint(medium down) { 
            &.contact {
                order: 3;
                padding: 3rem 0 0;
                text-align: center;
            }
            &.logo {
                height: auto;
                order: 2;
                padding: 1.25rem 0;
            }
            &.newsletter {
                order: 1;
                padding: 2.5rem 1rem;
            }
        }
        
    }  
    .gform_confirmation_wrapper {
        float: right;
        width: 82%;  
        
    }
    .gform_wrapper {
        float: right;
        margin: 2px 0;

        @include breakpoint(medium down) {
            float: none;
        }
        
        ul.gform_fields li.gfield {
            padding-right: 0;
            margin: 0;
        }
        .top_label div.ginput_container {
            margin-top: 0;
        }
        h3.gform_title {
            font-size: rem-calc(16px);
            font-weight: 600;
            line-height: 1.2;
            margin: 0;
        }
        .gform_heading {
            margin-bottom: 0;
        }
        .top_label input.medium {
            width: 100%;
        }
        input:not([type=submit]) {
            padding: 4px;
            height: 1.5rem;
            margin-bottom: 0;
        }
        input[type=submit] {
            background: transparent;
            border: 1px solid #fefefe;
            border-radius: 0;
            color: #fefefe;
            font-size: rem-calc(12px) !important;
            font-weight: $global-weight-normal;
            line-height: 1;
            padding: 6px 10px 6px;
        }
        label {
            color: $white; 
            font-weight: $global-weight-normal !important;
            font-size: rem-calc(12px) !important;
            line-height: 1.1 !important;
        }
        .gform_footer {
            margin: 0;
            padding: 12px 0 0px;
        }
    }

}