.c-hero {
	padding: 0;
	
	.text-color-black {
        color: $black;
    }
    .text-color-softblack {
        color: $soft-black;
    }
    .text-color-white {
        color: $white;
    }
	.grid-x {
		height: inherit;
	}
	.content {
	//	border: 1px solid red;
		height: auto;

		&::before {
		//	content: 'CONTENT';
			color: red;
			font: 1em sans-serif;
		}
	}

	.fullscreen {
	    height: 100vh; 
	    background-size: cover;
	    background-repeat: no-repeat;
		background-position: center center;

	}

	.standard {
		background-size: cover;
		background-position: center;
		height: 75vh;

	}
	.grid-container {
		height: 100%;
	}
	
}