.header {
	.logo {
		height: 47px; 	

		@include breakpoint(medium down) {
			height: 56px;
		}
	}
	.show-for-746 {
		@include breakpoint(746px up) {
			display: none;
		}
	}
	&.hide-on-load {
		display: none;
	}
	#main-nav {
		@include breakpoint(large) {
			align-items: center;
			width: 100vw;
			max-width: 75rem;	
		}
		@include breakpoint(746px down) {
			display: none;
		}
	}
	.menu {
		.logo.active>a, .logo.is-active>a {
			background: none;
			color: transparent;
		}
		li {
			background: $white;
			display: flex;
			flex-basis: auto;			
			flex-direction: column;
			flex-grow: 1;
			font-size: rem-calc(16);
			justify-content: space-around;
			max-width: 33.3333333%;
			text-align: center;
			//text-transform: uppercase;
			//font-variation-settings: "wght" 350, "slnt" 0;
			
			a {
				margin: 0 auto;
			}
			&:not(.logo) a {
				color: $black;
			}
			&.active>a, &.is-active>a {
				background: none;
			}
		}
		li.logo {
			background: url(../../assets/images/OFFICIAL-WAREHOUSE-LOGO.svg) no-repeat center;
			width: 190px;
			a {
				color: transparent; 
				padding: 0;
				width: 100%;
			}
		}
		.submenu {
			border: none;
			margin: 0 auto;
			li {
				justify-content: center;
			}
		}
	}
	 
		ul.menu.menu-toggle {
			@include breakpoint(746px down) {
				color: $black;
				position: absolute;
				right: -.89rem;
				top: 0.35rem;
			}
			@include breakpoint(747px up) {
				display: none;
			}
		}

}
 
.top-bar {
//	border: 1px solid blue;
	height: $nav-height;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	
	.grid-fluid {
		margin: 0 auto;
	}
	.admin-bar & {
		top: 32px;
	}
	&::after {
//		content: 'TOP Bar';
		color: blue;
	} 
	ul {
		background: none;
	}
	@include breakpoint(medium down) {
		.grid-container {
			position: relative;
		}
	}
	

}