.c-2-10 {
    .text-color-black {
        color: $black;
    }
    .text-color-softblack {
        color: $soft-black;
    }
    .text-color-white {
        color: $white;
    }
}

.stacked-text {
	padding-top: 5px;
	
	span {
		display: block;
		font-size: rem-calc(22);
		line-height: 1.1;

		&.bold {
			font-weight: $global-weight-bold;
		}
		&.normal {
			font-weight: $global-weight-normal;
		}
	}
}