.c-posts-grid {

    .stacked-text {
        margin-bottom: 2rem;
    }
    
    .c-posts-grid-post {

        h3 {           
            color: $black;
            font-size: 1.35rem;
            font-weight: $global-weight-normal;
        }
        &.staff {
            
            h3 {
                bottom: 35px;
                font-size: rem-calc(18px);
                font-weight: 300;
                left: 13px;
                line-height: 1;
                position: relative;
            }

        }
    }
}