.c-events-list {
    

    nav.event-archive_nav {
        margin: 0 0 1.35rem;
        
        .event-archive_filters {
            cursor: pointer;
            font-weight: $global-weight-bold;

            &:after {
                content: "/";
                margin: 0 0.85rem;
            }
            &:last-of-type {
                &::after {
                    display: none;
                }
            }
        }
    }
    article {
        border-top: 1px solid $black;
        padding: 1.75rem 0;
        
        h2.event-title {
            font-size: 1.35rem;
            font-weight: $global-weight-bold;
            margin-bottom: 0;
        }
    }
    
}