.price-blocks {
    font-size: 16px;

    .cell {
        margin-bottom: 1.25rem;
    }
    h3 {
        font-size: 1.25rem;
        font-weight: $global-weight-bold;
    }
    a.button {
        border-width: 2px;
        font-size: rem-calc(12px);
        font-weight: 600;
        padding: rem-calc(10px) rem-calc(19px);
        text-decoration: none;
        text-transform: uppercase;
    }

    healcode-widget {
        a {
            border: 2px solid $primary-color  ;
            font-size: rem-calc(12px);
            font-weight: 600;
            padding: rem-calc(10px) rem-calc(19px);
            text-decoration: none;
            text-transform: uppercase;
        }
    }
    
}