.c-grid {
    border: 1px solid gray;
    padding: 4rem 0 2.1rem;

    .masonry-brick {
        margin-bottom: 1.9em;
    }

    &-content-block {
        border: none;
        height: 390px;
        position: relative;

        h2 {
            font-size: 2.25rem;
            line-height: 1.1;
        }
        h3 {
            font-size: 1.75rem;
            line-height: 1.2;
        }
        h4 {
            font-size: 1.5rem;
            line-height: 1.3;
        }
        &-content {
            left: 50%;
            position: absolute;
            top: 40%;
            transform: translate(-50%,-50%);
            width: 90%;
            
            p {
                font-size: 1.25rem;
            }
        }
        &-footer {
            bottom: 1.25rem;
            left: 50%;
            position: absolute;
            text-transform: uppercase;
            transform: translateX(-50%);
        }
    }
    
    &-image {
        position: relative;

        &:hover {
            
            .overlay {
                background-color: rgba($black, 0.52);
                bottom: 1.4rem;
                left: 1.4rem;
                position: absolute;
                right: 1.4rem;
                top: 1.4rem;
                z-index: 2;
            }
        }
        img {
            z-index: 0;
        }
        &-text {
            color: $white;
            font-size: 1.1rem;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 3;
        }
    }

    .c-image-slider {
        height: 390px;

        &.slick-dotted.slick-slider {
            margin-bottom: 0;
        }
        .slick-prev {
            left: 10px;
            z-index: 1;
        }
        .slick-next {
            right: 10px;
            z-index: 1;
        }
    }

}