.c_social-links {
    .menu {
        li {

            a {
                padding: rem-calc(8px);
            }
        }
        svg {
            fill: $black;
            height: 30px;
            width: 30px;
            
            .footer & {
                fill: $white;
            }
        }
    }
}