section {

    &.c-content-slider {
        background-size: cover;
        padding: 0 !important;

        &>div {
            padding: 3.25rem 0;
            p {
                margin-bottom: 0.25rem;
            }
        }
    }
}


