.bw-session__details .bw-widget__cart_button {
    display: none;
}

.bw-widget {
    &__header {
        background: none;
    }
    &__sessions {
        .bw-widget__day {
            .bw-widget__date {
                border-top-style: none;
            }
        }
    }
    button & {
        &__signup-now {
            border-width: 2px;
        }
    } 
    &__footer {
        display: none;
    }
}

.bw-calendar-container {
    border: none;

    table {
        tbody {
            border: none;
            tr:nth-child(2n) {
                background: none;
            }
        }
    }
}

.bw-widget {
    th.bw-calendar__heading {
        font-weight: $global-weight-bold;
        font-size: 0.82rem;
    }
    &--medium {
        .bw-widget__date {
            background: none;
            border-color: $primary-color;
            font-size: 1rem;
            font-weight: $global-weight-bold;
        }
    }
}

.bw-session {
    border-color: $primary-color;
}


.healcode.mindbody_classic {

    h1 {
        display: none;
    }
    .filters {
        display: none;
        .mbo_class {
            display: none;
        }
    }
    .hc_footer, span.healcode-jump-to-date {
        display: none;
    }
    .header {
        position: relative;
        br {
            display: none;
        }
        a:not(.week_links a) {
            color: $black;
            float: right;
            font-size: rem-calc(12px);
            padding: 0 3px;
        }
        a.print_version {
            display: none;
        }
    }
    .date_links {
        float: right;
        .week_links {
            position: absolute;
            right: -25px;
            top: -55px;
            br {
                display: none;
            }
            span {
                border: 1px solid $black;
                padding: 0px 15px 4px;
                a {
                    color: $white;
                }
                &.healcode-jump-to-date {
                    display: none;
                }
            }
        }
        
    }
    table {
        tbody {
            background: $white;
            border: none;
            td {
                padding: .5rem .75rem .6rem;
            }
        }
        a {
            color: $black;
        }
        br {
            display: none;
        }
        th {
            font-size: 1.1rem;
            font-weight: 600;
            padding: .5rem .75rem .6rem;
            text-align: left;
        }
        tr {
            background: $white;
            border-bottom: 1px solid $black;
            td {
                @include breakpoint(large up) {
                    &:first-of-type {
                        padding-right: 1.5rem;
                    }
                    &:nth-of-type(2) {
                        padding-right: 1rem;
                    }
                    &:nth-of-type(3) {
                        padding-right: 1.5rem;
                    }
                }

            }
        }
    }
} 

div.healcode.schedule {
    .healcode-next a, .healcode-previous a, .healcode-today a, .next, .now, .prev {
        background: 0 $white;
        color: $white;
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;
        border-radius: 0;
        float: left;
        max-width: 200px;
        margin-right: 25px;
        font-size: 0;
    }
    .healcode-next {
        color: $white;
        text-transform: uppercase;
        a {
            margin-right: 0;
        }
        &::before {
            content: 'Next';
            color: $black;
            font-family: $body-font-family;
            font-size: rem-calc(14px);
        }
        &::after {
            content: ">";
            color: $black;
            font-family: $body-font-family;
            font-size: rem-calc(14px);
            padding-left: 25px;
        }
    }
    .healcode-previous {
        color: $white;
        text-transform: uppercase;
        &::before {
            content: '<';
            color: $black;
            font-family: $body-font-family;
            font-size: rem-calc(14px);
        }
        &::after {
            content: "Previous";
            color: $black;
            font-family: $body-font-family;
            font-size: rem-calc(14px);
    
        }
    }
    .healcode-today {
        color: $white;
        text-transform: uppercase;
        a {
            font-size: 12px;
            color: $black;
            padding-right: 40px;
            padding-left: 40px;
        }
        &::after {
            content: "Today";
            color: $black;
            font-family: $body-font-family;
            font-size: rem-calc(14px);
    
        }
    }
} 
    
