.home .healcode.schedule {
    padding: 0 40px;
    margin: 40px 0;
    height: 230px;
    overflow: hidden;
    position: relative
}

.home .healcode .header,.home .healcode td.trainer,.home .healcode tr.schedule_header {
    display: none!important
}

.home .healcode tr {
    overflow: hidden;
    position: relative;
    height: 65px;
    border: 0
}

.home .healcode td {
    position: absolute;
    right: 30px
}

.home .healcode td:first-child {
    left: 30px;
    margin-top: 20px
}

.home .healcode td.mbo_class {
    left: 30px
}

.home .healcode table.schedule tr.even td,.home .healcode table.schedule tr.odd td,.home .healcode tr.odd {
    background: 0 0!important;
    color: #1e1f20;
    padding: 0;
    line-height: 1
}

.home .healcode table.schedule tr.even td a,.home .healcode table.schedule tr.odd td a,.home .healcode tr.odd a {
    color: #1e1f20;
    font-size: 16px;
    font-weight: 600
}

.home .healcode .mbo_class {
    display: block
}

.home .healcode .hc_time {
    font-size: 12px;
    font-weight: 500
}

.home .healcode .hc-button.signup_now {
    background: 0 0;
    border-radius: 0;
    border: 1px solid #1e1f20;
    padding: 3px 10px
}



/*//////////////////////////////////////*/




#classSchedule .subtrainer,div.healcode.schedule h1 {
    display: none
}

div.healcode.schedule table.schedule td .cancelled a,div.healcode.schedule table.schedule td .cancelled span,div.healcode.schedule table.schedule tr.cancelled a,div.healcode.schedule table.schedule tr.cancelled span {
    text-decoration: line-through!important;
    color: #909091!important
}

div.healcode.schedule .info_wrapper .mbo_class {
    line-height: 1.2!important;
    word-break: break-word!important
}

div.healcode.schedule .action_icon,div.healcode.schedule .action_text {
    display: block;
    float: right;
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer
}

div.healcode.schedule .healcode-jump-to-date {
    display: none
}

div.healcode.schedule .classname {
    font-weight: 400
}

div.healcode.schedule h2 {
    font-size: 24px;
    line-height: 1.25;
    text-transform: uppercase
}

div.healcode.schedule h2 span {
    display: block;
    font-weight: 300
}

div.healcode.schedule select {
    background-color: #1e1f20;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 0;
    float: left;
    max-width: 200px;
    margin-right: 10px;
    font-size: 1rem
}

div.healcode.schedule .filter_days.checkboxes,div.healcode.schedule .filter_time_of_day.checkboxes {
    font-size: 12px;
    text-transform: uppercase
}

div.healcode.schedule .week_links {
    position: absolute;
    right: 0;
    top: -78px
}

div.healcode.schedule .healcode-previous,div.healcode.schedule .healcode-today {
    color: #1e1f20
}

div.healcode.schedule .healcode-next a,div.healcode.schedule .healcode-previous a,div.healcode.schedule .healcode-today a,div.healcode.schedule .next,div.healcode.schedule .now,div.healcode.schedule .prev {
    background: 0 #1e1f20;
    color: #1e1f20;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 0;
    float: left;
    max-width: 200px;
    margin-right: 25px;
    font-size: 0;
    padding: 8px 25px
}

div.healcode.schedule .healcode-next a {
    margin-right: 0
}

div.healcode.schedule .healcode-today a {
    font-size: 12px;
    color: #fff;
    padding-right: 40px;
    padding-left: 40px
}

div.healcode.schedule .healcode-next a:before {
    content: "Next";
    font-size: 12px;
    color: #fff
}

div.healcode.schedule .healcode-next a:after {
    content: '\f105';
    font-size: 12px;
    color: #fff;
    padding-left: 25px;
    font-family: FontAwesome
}

div.healcode.schedule .healcode-previous a:after {
    content: "Previous";
    font-size: 12px;
    color: #fff
}

div.healcode.schedule .healcode-previous a:before {
    content: '\f104';
    font-size: 12px;
    color: #fff;
    padding-right: 25px;
    font-family: FontAwesome
}

div.healcode.schedule .span.hc_time {
    text-transform: uppercase
}

div.healcode.schedule .hc-button.signup_now {
    background: #f8f8f8;
    color: #1e1f20;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 10px;
    transition: all 324ms;
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 4px 0
}

div.healcode.schedule .hc-button.signup_now:hover {
    color: #f8f8f8;
    background: #1e1f20
}

div.healcode.schedule .filters .filter_days,div.healcode.schedule .filters .filter_time_of_day {
    border: 0;
    overflow: hidden
}

div.healcode.schedule .filters .filter_days input[type=checkbox],div.healcode.schedule .filters .filter_time_of_day input[type=checkbox] {
    margin: 3px 5px 0 0;
    display: block;
    float: left
}

div.healcode.schedule .filters .filter_days label,div.healcode.schedule .filters .filter_time_of_day label {
    float: left;
    margin-right: 5px;
    display: block
}

div.healcode.schedule table.schedule {
    text-transform: uppercase;
    border: 0
}

div.healcode.schedule table.schedule tr {
    border-bottom: 1px solid #fff
}

div.healcode.schedule table.schedule th {
    background: #1e1f20;
    font-weight: 600;
    border: 0;
    text-align: left;
    padding-left: 20px;
    font-size: 17px
}

div.healcode.schedule table.schedule td {
    font-weight: 400;
    background: #1e1f20;
    border: 0;
    padding-left: 20px;
    font-size: 17px
}

div.healcode.schedule table.schedule td a {
    text-decoration: none
}

div.healcode.schedule .hc_footer {
    visibility: hidden
}




/*//////////////////////////////////////*/




.buy-now,.healcode-buy-now-link {
    text-decoration: none;
    border: 1px solid #fff;
    padding: 8px 33px;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 324ms;
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 48px
}

.page-template-page-aboutus .teacher-panel .teacher-grid-item img.portrait-roll,.page-template-page-aboutus .teacher-panel .teacher-grid-item:hover .portrait {
    display: none
}

.buy-now:hover,.healcode-buy-now-link:hover {
    opacity: .75;
    color: #fff
}




/*//////////////////////////////////////*/


@include breakpoint(medium up) {

    #classSchedule,div.healcode.schedule {
        margin-top: 2rem
    }

    #classSchedule .header,div.healcode.schedule .header {
        position: relative
    }

    #classSchedule table.schedule tr,div.healcode.schedule table.schedule tr {
        height: 50px
    }

    #classSchedule table.schedule tr.schedule_header th,div.healcode.schedule table.schedule tr.schedule_header th {
        padding-top: 2rem
    }

    #classSchedule table.schedule th,div.healcode.schedule table.schedule th {
        width: 30%
    }

    #classSchedule table.schedule th.mbo_class,div.healcode.schedule table.schedule th.mbo_class {
        width: 45%
    }

    #classSchedule table.schedule th.trainer,div.healcode.schedule table.schedule th.trainer {
        width: 25%
    }

}




/*//////////////////////////////////////*/

@include breakpoint(small only) {

    div.healcode.schedule table.schedule tr {
        border-bottom: 0!important
    }

    div.healcode.schedule table.schedule td,div.healcode.schedule table.schedule th {
        padding: 2px!important;
        font-size: 12px
    }

    div.healcode.schedule .action_icon,div.healcode.schedule .action_text {
        display: none
    }

    .mbo_class {
        word-break: break-all
    }

    div.healcode.schedule .hc-button.signup_now {
        padding: 3px
    }

    div.healcode .info_wrapper {
        overflow: hidden;
        padding: .5em 0 0!important
    }

    div.healcode .info_wrapper .hc_time {
        width: 30%;
        display: block;
        float: left;
        padding: 0 2% 0 0
    }

    div.healcode .info_wrapper .hc_time .hc_endtime {
        display: block
    }

    div.healcode .info_wrapper .mbo_class {
        width: 40%;
        display: block;
        float: left;
        padding: 0 2%;
        line-height: 2.3
    }

    div.healcode .info_wrapper .trainer {
        width: 30%;
        display: block;
        float: left;
        padding: 0 0 0 2%
    }

    div.healcode ol.schedule_list li {
        border-bottom: 1px solid #fff
    }

    div.healcode ol.schedule_list li.schedule_header {
        border: 0
    }

    div.healcode ol.schedule_list .signup {
        text-align: left;
        padding: .5em 0;
        margin-left: 32%
    }

    div.healcode ol.schedule_list .signup .hc-button.signup_now {
        padding: 5px 25px
    }

    div.list_view ol.schedule_list li.schedule_date {
        padding-left: 0!important
    }

}


