.woocommerce {

    &-account {
        #customer_login {
            float: none; 
            width: 100%;
            @media screen and (min-width: 768px) {
                float: left;
            }
            h2 {
                font-size: rem-calc(27px);
            }    
            .col-1, .col-2 {
                float: none;
                padding: 0 2.5%;
                width: 100%;

                @media screen and (min-width: 768px) {
                    float: left;
                    padding: 0 2.5%;
                    width: 50%;
                }
            }
        }
    }
    .page-title {
        margin-bottom: 1.25rem;
        text-align: center;
        text-transform: lowercase;
    }
    &.archive {
        .woocommerce-breadcrumb {
            margin: 0;
        } 
    }
    .woocommerce-result-count {
        display: none;
    }
    .woocommerce-breadcrumb {
        margin: 1rem 0 1rem;   
        text-transform: lowercase;
    }
    .woocommerce-ordering {
        display: none;
        margin: -1.75em 0 0;
    }
    .products ul li, ul.products li {
        text-align: center;
    }
    ul.products li.product {

        .onsale {
            margin: 0;
        }
    }
    .label {
        background-color: transparent;
        color: $black;
    } 
    .quantity .qty {
        width: rem-calc(56px);
        text-align: center;
        padding: rem-calc(7px);
        height: rem-calc(36px);
    }
    table {
        tbody {
            border: none;
        }
        tr {
            background-color: transparent;
        }
        &.shop_attributes {
            th {
                background: transparent;
                border: none;
                font-weight: $global-weight-bold;
            }
            td {
                background: transparent;
                border: none;
            }
        }
    }
    div.product .woocommerce-tabs ul.tabs {
        border: none;

        &::before {
            content: none;
        }
        li {
            background: none;
            border: none;
            border-radius: 0;
            a {
                color: $dark-gray;
                font-weight: 600;
            }
            &.active {
                border-bottom: 2px solid $black;
            }
            &::before {
                content: none;
            }
            &::after {
                content: none;
            }
        }
    }
    ul.products li.product {
        .woocommerce-loop-category__title, .woocommerce-loop-product__title, h3 {
            font-weight: 700;
        }
    }
    .related.products {
        >h2 {
            font-size: rem-calc(26px);
            font-weight: $global-weight-bold;
            text-transform: capitalize;
        }
    }
    a.button, button.button {
        background: transparent !important;
        border: 2px solid $soft-black;
        border-radius: 0;
        color: $soft-black !important;
        font-size: rem-calc(12px);
        font-weight: 700;
        padding: rem-calc(10px) rem-calc(19px);
        text-transform: uppercase;

        &:hover {
            background: transparent;
            border: 2px solid $black;
            color: $black;
        }
    }
    #respond input#submit.alt, a.button.alt, button.button.alt, input.button.alt {
        &.alt {
            background-color: transparent !important;
            &:hover {
                background-color: $black;
            }
        }
    }
    span.onsale {
        border-radius: 0;
        left: 0;
        line-height: 1.75;
        min-height: auto;
        top: 0;
    }
    div.product {
        .product_title {
            font-size: 1.82rem;
            line-height: 1.1;
        }
        p, span {
            &.price {
                line-height: 1.1;
                margin-bottom: 0.79rem;
            }
        }
        form.cart .variations label {
            font-size: rem-calc(18px);
            font-weight: $global-weight-bold;
            margin-top: 0.35rem;
        }
    }
    .summary {
        .product_meta>span {
            display: block;
        }
    }
    .woocommerce-error, .woocommerce-info, .woocommerce-message {
        background: $light-gray;
        border-left: 5px solid $soft-black;
        border-top: none;
    }
    table.shop_table {
        border: none;

        thead {
            background: none;
            border: none;
        }
        th {
            font-weight: $global-weight-bold;
        }
        tbody {
            th {
                font-weight: $global-weight-bold;
            }
        }
        tfoot {
            background: none;
            td, th {
                font-weight: $global-weight-bold;
            }
        }
    }
    .shipping-calculator-form {
        padding: 0;
    }
    form.checkout_coupon {
        border: 1px solid $soft-black;
    }
    input #coupon_code {
        height: 35px;
        width: 150px;
    }
    form.login, form.register {
        border: none;
        margin: 0 0 2em;
        padding: 0;
    }
    &-cart, &-checkout {
        #payment div.payment_box {
            margin-bottom: 0;
            &::before {
                content: none;
            }

            .form-row {
                margin: 0;
                padding: 0;
                
                &.place-order {
                    padding-top: rem-calc(6px);
                }
                [type=checkbox] {
                    margin: 0;
                }
                label {
                    line-height: 1.2;
                }
            }
        }
    }

}

// Checkout Styles

.woocommerce {
    &, .woocommerce-page {
            .col2-set {
                float: none; 
                width: 100%;
                @media screen and (min-width: 768px) {
                    float: left;
                    margin-right: 6%;
                    width: 60%;
                }
    
                .col-1, .col-2 {
                    float: none;
                    width: 100%;
                }
            }
    }
    .woocommerce-checkout-review-order {
        @media screen and (min-width: 768px) {
            float: left;
            width: 34%;
        }
    }
    .checkout {
        h3 {
            font-size: rem-calc(24px);
            font-weight: $global-weight-bold;
        }
    }
    #order-review {
        table {
            thead {
                tr {
                    th {
                        font-size: rem-calc(15px);
                        font-weight: $global-weight-bold;
                    }
                }
            }
            tr {
                &:first-of-type {
                    border-top: none;
                }
                td {
                    font-size: rem-calc(14px);
                }
            }
        }
        .woocommerce-privacy-policy-text {
            font-size: rem-calc(15px);
            
            p {
                margin-bottom: rem-calc(6px);
            }
        }
        .payment_method_stripe label {
            width: 170px;
        }
    }
    #add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
        border: none;
    }
    #add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
        border-bottom: none;
    }
    .place-order {
        button {
            font-size: rem-calc(18px);
            font-weight: $global-weight-bold;
            letter-spacing: -0.25px;
            width: 100%;
        }
    }
}

